input[type="search"] {
	-webkit-appearance: none;
	border-radius: 0;
}


/**
 * font
 */
 body {
	letter-spacing: .02em;
}

.c-entry-aside__title,
.c-widget__title {
	letter-spacing: .1em;
}

.c-entry__title,
.c-entry-aside__title,
.single .c-entry .c-entry__content h2,
.single .c-entry .c-entry__content h3,
.single .c-entry .c-entry__content h4,
.single .c-entry__content .c-entry h5,
.single .c-entry .c-entry__content h6,
.contents-outline li {
	line-height: 1.34783;
	letter-spacing: 0;
}

.c-entry-summary__title {
	letter-spacing: 0;
}

.c-entry-summary__title,
[data-is-slim-widget-area=true] .c-widget,
.p-related-posts .c-entry-summary__title {
	line-height: 1.48309;
}

.c-entry__content>h2 {
	font-size: 20px;
	font-size: 1.25rem;
}
.c-entry__content>h3 {
	font-size: 19px;
	font-size: 1.1875rem;
}
.c-entry__content>h4 {
	font-size: 18px;
	font-size: 1.125rem;
}

.c-entry-aside__title,
.c-entry__title {
	font-size: 20px;
	font-size: 1.25rem;
}

.c-entry-summary__title,
.p-related-posts .c-entry-summary__title {
	font-size: 14px;
	font-size: .875rem;
}

.c-prev-next-nav__item-title {
	font-size: 0.875rem;
	line-height: 1.48309;
}

.p-archive .c-entries--rich-media .c-meta {
	font-size: 11px;
	font-size: .6875rem;
}

.c-section__title,
.wpac-section__title {
	font-size: 19px;
	font-size: 1.1875rem;
}

#reply-title {
	font-size: 16px;
	font-size: 1rem;
}

.wpaw-recent-posts__date {
	line-height: 1;
}

.c-page-header__title {
	font-size: 19px;
	font-size: 1.1875rem;
}

@media (min-width: 32em) {
	.c-entries--simple .c-entry-summary__title {
		font-size: 16px;
		font-size: 1rem;
	}
}

@media (min-width: 40em) {
	.c-entry__content>h2 {
		font-size: 22px;
		font-size: 1.375rem;
	}
	.c-entry__content>h3 {
		font-size: 20px;
		font-size: 1.25rem;
	}
	.c-entry__content>h4 {
		font-size: 19px;
		font-size: 1.1875rem;
	}
	.c-entry__title {
		font-size: 24px;
		font-size: 1.5rem;
	}
	.c-entry-summary__title {
		font-size: 16px;
		font-size: 1rem;
	}
	.c-page-summary__title {
		font-size: 17px;
		font-size: 1.0625rem;
	}
	.c-entry-aside__title {
		font-size: 22px;
		font-size: 1.375rem;
	}
	.c-section__title,
	.wpac-section__title {
		font-size: 23px;
		font-size: 1.4375rem;
	}
	.c-entries--simple .c-entry-summary__title {
		font-size: 17px;
		font-size: 1.0625rem;
	}
	.c-page-header__title {
		font-size: 25px;
		font-size: 1.5625rem;
	}
}

@media (max-width: 64em) {
	.alignleft {
		max-width: 50%;
	}
	.alignright {
		max-width: 50%;
	}
}

@media (max-width: 40em) {
	.alignleft {
		margin-right: .46739rem;
		max-width: 33.33333%;
	}
	.alignright {
		margin-left: .46739rem;
		max-width: 33.33333%;
	}
}

/**
 * .l-contents__main
 */

[data-has-sidebar=false][data-is-fluid-template=false] .l-contents__inner .l-contents__main {
	padding-top: 0;
}

.single .l-contents__main,
.page .l-contents__main,
.p-term-description {
	background-color: #fff;
	padding: .93478rem .46739rem;
}

@media (min-width: 32em) {
	.single .l-contents__main,
	.page .l-contents__main,
	.p-term-description {
		background-color: #fff;
		padding: 1.86957rem .93478rem;
	}
}

@media (min-width: 40em) {
	 .single .l-contents__main,
	 .page .l-contents__main,
	 .p-term-description {
		padding: 2.80435rem;
	}
}


@media (min-width: 64em) {
	[data-has-sidebar=true] .l-contents__inner {
		align-items: flex-start;
	}
}

@media (min-width: 64em) and  (max-width: 80em) {
	.l-body--right-sidebar .l-contents__main {
		margin-right:1.86957rem;
	}
	.l-body--left-sidebar .l-contents__main {
		margin-left:1.86957rem;
	}
	[data-has-sidebar=true] .l-contents__main {
	    width: calc(100% - 336px - 1.86957rem);
	}
}


/**
 * c-page-header
 */
.c-entry__header {
	border-bottom: none;
}

.c-page-header[data-has-image=true] {
	min-height: 100px;
}

.c-page-header[data-has-image=false] {
	margin-bottom: 0;
}

.page .c-entry__header {
	padding-bottom: 0;
}

[data-has-content=true] .js-bg-parallax__bgimage {
	background-color: #000;
}

[data-has-content=true] .js-bg-parallax__bgimage img {
	opacity: .8;
}

.c-page-header.js-bg-parallax[data-has-image=false] {
	background-color: rgba(0,0,0,.02);
}

@media (min-width: 40em) {
	.c-page-header[data-has-image=true] {
		min-height: 300px;
	}
}

/**
 * .c-entry__meta
 */
.c-entry__meta,.c-entry__meta a {
	color: #999;
}

/**
 * .wpco
 */
.wpco .contents-outline a {
	padding: .6rem 0;
}

.wpco .contents-outline a:before {
	border-radius: 3px;
	    margin: calc(.43478rem - 4px) .46739rem 0 0;
}

.c-widget .wpco .contents-outline a:before {
	margin-top: 1px;
}

.wpco .contents-outline li li>a {
	padding-left: 1rem;
}

.wpco .contents-outline li li li>a {
	padding-left: 2rem;
}

.wpco .contents-outline li li li li>a {
	padding-left: 3rem;
}

.wpco .contents-outline li li li li li>a {
	padding-left: 4rem;
}


/**
 * .tag-cloud-link
 */
 .tag-cloud-link {
 	background-color: #fff;
 }


/**
 * .c-prev-next-nav
 */
.c-prev-next-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	margin-top: .93478rem;
}

.c-prev-next-nav__item {
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
	max-width: 50%;
}

.c-prev-next-nav__item>a {
	padding: 0;
	color: #333;
	font-weight: normal;
	justify-content: flex-start;
}

.c-prev-next-nav__item--prev {
	text-align: right;
}

.c-prev-next-nav__item:not(:first-child) {
	margin-top: 0;
}

.c-prev-next-nav__item--next {
	margin-right: .46739rem;
}

.c-prev-next-nav__item--prev {
	margin-left: .46739rem;
}

.c-prev-next-nav__item>a,
.c-prev-next-nav__item-figure {
	background-image: none!important;
	background-color: transparent!important;
}

.c-prev-next-nav__item>a::before {
	content: none;
}

.c-prev-next-nav__item>a:hover {
	text-decoration: underline;
	color: #666;
}

.c-prev-next-nav:before {
	content: none;
}
/**
 * .p-related-posts
 */

.p-related-posts .c-entries--simple,
.p-related-posts .c-entries--rich-media .c-entries__item>a {
	box-shadow: none;
}

.p-related-posts .c-entry-summary__meta {
	display: none;
}

.p-related-posts .c-entries--simple .c-entry-summary__content,
.p-related-posts .c-entries--rich-media .c-entry-summary__content {
	display: block;
	margin-bottom: 0;
}

/**
 * .c-entry-aside
 */
.c-entry-aside__title:after,
.c-entry-aside__title:before {
	display: none;
}

.c-entry-aside__title {
	border-top: 1px solid #eee;
	padding-top: .93478rem;
	display: block;
}

/**
 * .p-trackbacks
 */

.p-trackbacks cite {
	font-style: normal;
}

.search .c-entry .c-entry__header,
.home .c-entry .c-entry__header,
.archive .c-entry .c-entry__header {
	text-align: center;
}

.p-trackbacks__list li {
	margin-bottom: .46739rem;
	padding-bottom: .46739rem;
	border-bottom: 1px solid #eee;
}


/**
 * .c-entries
 */
.c-entries__item > a {
	background-color: #fff;
	height: 100%;
}

/**
 * .archive .c-entry__title
 */
.archive .c-entry__title {
	color: #fff;
	padding: .46739rem;
}

/**
 * .p-term-description
 */
.p-term-description {
	margin-top: -2.80435rem;
}

/**
 * .c-entries--rich-media
 */
.snow-monkey-recent-posts .c-entries--rich-media .c-entries__item .c-entry-summary__body,
.p-archive .c-entries--rich-media .c-entries__item .c-entry-summary__body {
	padding: 0 .46739rem .46739rem;
}

.c-entries--rich-media .c-entry-summary__figure::after, .c-entries--rich-media .c-page-summary__figure::after {
	background-image: none;

}

@media (min-width: 32em) {
	.snow-monkey-recent-posts .c-entries--rich-media .c-entries__item .c-entry-summary__body,
	.p-archive .c-entries--rich-media .c-entries__item .c-entry-summary__body {
		padding: .46739rem .93478rem .93478rem;
	}
}

aside:not(.p-related-posts) .c-entries--rich-media .c-meta__item.c-meta__item--author {
	display: none;
}

.c-meta__item+.c-meta__item {
    padding-left: 0;
}

@media (min-width: 32em) {
	aside:not(.p-related-posts) .c-entries--rich-media .c-meta__item.c-meta__item--author {
		display: inline-block;
	}
	.c-meta__item+.c-meta__item {
	    padding-left: .75em;
	}
	.p-related-posts .c-entries--rich-media .c-entries__item {
		padding-right: .46739rem;
	    padding-left: .46739rem;
	    margin-bottom: .93478rem;
	}
	.p-related-posts .c-entries--rich-media {
	    margin-right: -.46739rem;
	    margin-left: -.46739rem;
	    margin-bottom: -.93478rem;
	}
}

@media (min-width: 40em) {
	.l-contents__main .c-entries.c-entries--rich-media {
	    margin-right: -.93478rem;
	    margin-left: -.93478rem;
	    margin-bottom: -1.86957rem;
	}
	.l-contents__main .c-entries.c-entries--rich-media .c-entries__item {
		padding-right: .93478rem;
	    padding-left: .93478rem;
	    margin-bottom: 1.86957rem;
	}
}

@media (min-width: 64em){
	.l-contents__main .p-related-posts .c-entries--rich-media .c-entries__item {
		padding-right: .46739rem;
	    padding-left: .46739rem;
	    margin-bottom: .93478rem;
	}
	.l-contents__main .p-related-posts .c-entries--rich-media {
	    margin-right: -.46739rem;
	    margin-left: -.46739rem;
	    margin-bottom: -.93478rem;
	}
}


/**
 * .c-entries--simple
 */
.p-archive .c-entries--simple {
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
}
.p-archive .c-entries--simple .c-entries__item {
	margin-bottom: .46739rem;
	border-bottom: none;
}

.c-entries--simple .c-entries__item>a {
    padding: .93478rem;
}

.p-related-posts .c-entries--simple .c-entries__item>a {
	padding: .93478rem 0;
}

.p-related-posts .c-entries--simple .c-entries__item:first-child >a {
	padding-top: 0;
}

.p-related-posts .c-entries--simple .c-entries__item:last-child {
	border-bottom: none;
}

.p-related-posts .c-entries--simple .c-entries__item:last-child >a {
	padding-bottom: 0;
}

.c-entries--simple .c-entry-summary__figure {
	margin-top: 0;
}

.p-related-posts .c-entries--simple .c-entry-summary__figure {
	margin-right: .46739rem;
}

@media (min-width: 32em) {
	.p-archive .c-entries--simple .c-entry-summary__figure {
		width: 30%;
	}	
}

/**
 * .ppagination__item
 */
.c-pagination__item-ellipsis, .c-pagination__item-link {
    background-color: #fff;
}

/**
 * .c-widget
 */
.c-widget__title {
	color: #fff;
	padding: .46739rem .93478rem;
	display: block;
}


/**
 * .l-contents__sidebar .c-widget
 */
.l-contents__sidebar .c-widget ul {
	padding: 0 .93478rem;
	background-color: #fff;
}

.l-contents__sidebar .c-widget__title + ul {
	margin-top: -.93478rem;
}

.l-contents__sidebar .c-widget ul ul {
	border-bottom: 1px solid #eee;
}

.l-contents__sidebar .c-widget ul li:not(:first-child) {
	border-top: 1px solid #eee;
}

.l-contents__sidebar .c-widget li {
	padding: .58424rem 0;
}

.l-contents__sidebar .c-widget ul li+li {
	margin: 0;
}

.l-contents__sidebar .wpaw-recent-posts__item:not(:first-child) {
	margin-top: 0;
}

.l-contents__sidebar .c-widget .wpco {
	border: none;
}

.l-contents__sidebar .c-widget .wpco .contents-outline li {
	padding: 0;
}

.l-footer-widget-area {
	border: none;
}

.l-footer-widget-area .c-widget a {
	color: #333;
}

:not(.l-footer-widget-area__item)>.c-widget .c-widget__title::before,
:not(.l-footer-widget-area__item)>.c-widget .c-widget__title::after {
	display: none;
}

@media (min-width: 40em) {
	.l-contents__sidebar .c-widget li.wpaw-recent-posts__item {
		padding: .93478rem 0;
	}
}


/**
* .l-footer	* .snow-monkey-recent-posts
*/
.snow-monkey-recent-posts .c-entries--rich-media .c-entries__item {
-ms-flex: 0 1 50%;
flex: 0 1 50%;
max-width: 50%;
}
@media (min-width: 64em) {
.snow-monkey-recent-posts .c-entries--rich-media .c-entries__item {
-ms-flex: 0 1 25%;
flex: 0 1 25%;
max-width: 25%;
}
.snow-monkey-recent-posts .c-entries--rich-media {
margin-right: -.93478rem;
margin-left: -.93478rem;
margin-bottom: -1.86957rem;
}
.snow-monkey-recent-posts .c-entries--rich-media .c-entries__item {
padding-right: .93478rem;
padding-left: .93478rem;
margin-bottom: 1.86957rem;
}
}

/**
 * .l-footer
 */

.l-footer-widget-area .widget_archive a,
.l-footer-widget-area .widget_calendar a,
.l-footer-widget-area .widget_categories a,
.l-footer-widget-area .widget_meta a,
.l-footer-widget-area .widget_nav_menu a,
.l-footer-widget-area .widget_pages a,
.l-footer-widget-area .widget_recent_comments a,
.l-footer-widget-area .widget_recent_entries a,
.l-footer-widget-area .textwidget a {
	color: #333;
}

.l-footer .l-footer-widget-area__item>.c-widget .c-widget__title::before,
.l-footer .l-footer-widget-area__item>.c-widget .c-widget__title::after {
	display: none;
}


/**
 * .c-copyright
 */

.c-copyright {
	border-top: none;
	background-color: transparent;
	color: #333;
}

.c-copyright a {
	color: #666;
}


/**
 * スマホ
 */

@media (max-width: 32em) {
	.c-container {
		padding-right: .46739rem;
    	padding-left: .46739rem;
	}
	.l-contents__inner {
		margin-top: 1.86957rem;
		margin-bottom: 1.86957rem;
	}
	.c-entry__header {
		margin-bottom: .46739rem;
	}
	.p-term-description {
		margin-bottom: 1.86957rem;
	}
	.c-entries--rich-media {
		padding-right: .2337rem;
		padding-left: .2337rem;
		margin-bottom: .46739rem;
	}
	.c-entries__item {
		padding-right: .2337rem;
    	padding-left: .2337rem;
    	margin-bottom: .46739rem;
	}
	.c-widget__title {
		padding: .46739rem;
	}
}